/* UserGuide.css */

.benef-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));

}

.benef-custom-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 50%;
    height: 300px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 20px;
    transition: height 0.3s ease; /* Add transition for smooth height change */
}




.benef-custom-box-title {
    text-align: center;
    margin-top: 20px;
}


.benef-custom-box ul {
    list-style-type: disc;
    padding-left: 20px;
}

.benef-custom-box li {
    margin-bottom: 10px;
    font-size: 16px;
    color: white; /* Set list text color to white */
}



