/* ExperimentInstructionsBox.css */


.instructions-box {
    display: flex;
    width: 900px;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa; /* Light gray background color */
    margin-left: 20px;
    border: 1px solid #d1d1d1; /* Light border color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 4px 8px rgba(0, 0, 0, 0.4);
}

.instructions-box h3 {
    color: #333;
}

.instructions-box p {
    color: #555;
    text-align: center;
}
