/* src/InfoBox.css */

.info-box {
    background-color: #f8f9fa; /* Light gray background color */
    padding: 20px;
    border: 1px solid #d1d1d1; /* Light border color */
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 4px 8px rgba(0, 0, 0, 0.4);

}

.info-box h3 {
    color: #007bff; /* Blue header color */
    margin-bottom: 10px;
}

.info-box p {
    margin: 5px 0;
}
  
