/* src/InfoBox.css */

.info-box {
    background-color: #f8f9fa; /* Light gray background color */
    padding: 20px;
    border: 1px solid #d1d1d1; /* Light border color */
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0px 8px 100px rgba(178, 172, 178, 0.9); /* Add shadow to the top */

}

.info-box h3 {
    color: #007bff; /* Blue header color */
    margin-bottom: 10px;
}

.info-box p {
    margin: 5px 0;
}
  
