/* ../style/ExperimentsList.css */

.container-bg {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100%;
}


.search-container {
    padding-top: 120px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.title-search {
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: SansSerif;
}

.custom-search-input {
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 4px 8px rgba(0, 0, 0, 0.4);

}

.custom-search-button {
    border-radius: 5px;
}

.list-group {
    margin: 20px 0;
}

.custom-list {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;


}

.custom-list-item {
    background-color: #fff;
    border: 1px solid #dbf;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 4px 8px rgba(0, 0, 0, 0.4);


}

.custom-list-item:hover {
    background-color: #c6c6cb;
}

.collapsed-box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.btn-cd {
    height: 40px;
    margin-bottom: 2px;
    margin-left: 10px;
    border: #FFFFFF;
    border-radius: 8px;
}

.no-result-text {
    text-align: center;
    font-size: 20pt;
    color: #FFFFFF;
    margin-top: 100px;
}


.bottom-absolute {
    bottom: 0;
    width: 100%;
   padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.group-title {
    border: 1px solid;
    border-radius: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 0px -8px 100px rgba(131, 123, 131, 0.5);
}

