.rp-back {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    /* Set height and width to cover the entire viewport */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the element is above other elements */
}

.container-reset-password {
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa; /* Light gray background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 4px 8px rgba(0, 0, 0, 0.4);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.7));
    margin: 20% auto; /* Center vertically with 15% from the top */
    max-width: 400px;
}