.results-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 70px;
    max-height: 150vh;
    overflow-y: auto;
    background: url("/src/assets/back.png") center/cover no-repeat fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.pad-container {
    max-width: 900px;
    max-height: 1200px;
    z-index: 1;
    padding-top: 100px;
    align-items: center;
    text-align: center;
    overflow-y: auto;

}

h2, h3 {
    margin-top: 40px;
    color: #fff;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;

}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

tbody tr:hover {
    background-color:rgb(220,220,220,0.3);
}


.no-results-message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    height: 100vh; /* Ensures the container takes the full height of the viewport */
    text-align: center;
    color: #fff;
    font-size: 28pt;
}


.transfer {
    margin-top: 15px;
    margin-bottom: 10px;
}


.centered-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
    color: #FFFFFF;
    font-size: 30pt;
}


.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed based on your layout */
}